@import url("nav.css");

main {
	width: 55%;
	min-width: 700px;
	margin: 0 auto;
	padding-top: 50px;
}

main h1 {
	width: 90%;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	padding-left: 15px;
	font-weight: 500;
	font-family: "微软雅黑";
	font-size: 2rem;
	border-bottom: 2px #ccc solid;
	border-left: 3px #286CB3 solid;
}
main form {
	width: 690px;
	margin: 0 auto;
	padding-left: 60px;
	margin-top: 50px;
}
main form>div {
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
}
main form label {
	display: inline-block;
	width: 110px;
	font-size: 1.75rem;
	text-align: right;
	color: #333;
}
main form div input {
	width: 380px;
	height: 35px;
	border-radius: 5px;
	border: solid 1px #ccc;
	margin-left: 10px;
}
#reSub {
	width: 200px;
	height: 40px;
	background-color: #286CB3;
	color: #fff;
	border: none;
	border-radius: 5px; 
	margin-top: 20px;
	margin-left: 127px;
	font-size: 2rem;
}
#cmp {
	width: 210px;
}
main form div img {
	width: 156px;
	height: 50px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 10px;
}
.prompt {
	display: none;
}
.cmp_cell {
	height: 80px;
}
.cmp_cell input {
	margin-bottom: 0;
}
.cmp_cell a {
	height: 20px;
	line-height: 20px;
	text-decoration: underline;
	color: blue;
	display: block;
	margin-left: 351px;
}
